
        
        .container-contato {
            width: 96%;
            max-width: 96%;
            
            background-color: white;
            border-radius: 12px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }

        
            
        
        h1{
            color: #0b2b6a;
            
            margin-bottom: 24px;
            font-size: 28px;
        }

        form {
            maxwidth: 100%;
           
            display: flex;
            flex-direction: column;
        }
        
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 14px;
        }
        
        .fld {
            margin-bottom: 16px;
        }
        
        label {
            display: block;
            margin-bottom: 6px;
            font-weight: 600;
            color: #333;
        }
        
        input, select, textarea {
            width: 80%;
            padding: 12px 16px;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 16px;
            transition: border-color 0.3s;
        }
        
        input:focus, select:focus, textarea:focus {
            border-color: #128C7E;
            outline: none;
            box-shadow: 0 0 0 2px rgba(18, 140, 126, 0.2);
        }
        
        textarea {
            resize: vertical;
            min-height: 100px;
            width: 90% !important;
        }
        
         p{ 
            color: #0b2b6a;
             width: 100%;         
            
     }

     .section__desc{
        align-items: end;
        padding-bottom: 15px;
     }

     .enviar{
        display: flex;
        
     }

        .btn-enviar {            
            background-color: #458bb4;
            color: white;
            border: none;
            padding: 14px 24px;
            border-radius: 6px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 120px;
        } 
        
        .btn-enviar:hover {
            background-color: #0C6B58;
        } */
        
        .notification {            
            
            position: fixed;
            top: 20px;
            right: 20px;
            padding: 15px 20px;
            border-radius: 6px;
            color: white;
            font-weight: 500;
            opacity: 0;
            transform: translateY(-20px);
            transition: opacity 0.3s, transform 0.3s;
            z-index: 1000;
        }
        
        .success {
            background-color: #51a954;
            width: 40%;
            max-width: 40%;
            height: 22px;   
            display: flex;
           margin-left: 15px;
            
        }
        
        .error {
            background-color: #F44336;
            width: 40%;
            max-width: 40%;
        }
        
        .show {
            opacity: 1;
            transform: translateY(0);
        }
        
        @media (max-width: 600px) {
            .grid {
                grid-template-columns: 1fr;
            }
        }
    